{% extends 'djangoWebApp/base.html' %}
{% load static %}

{% block content %}



<!--
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
-->
<section class="main  inner wrapper ">
	<section class="timeline_area content section_padding_130">
		<div class="container">



			<div class="image right">


				<img src="https://res.cloudinary.com/dpc0ldfnt/image/upload/v1642702538/CapaSinSombra_f25krb.png">
			</div>
			<div>
				<p>


					Hola visitante, sea bienvenido a la sección "Sobre Mi" de mi web. En esta página encontrarás una pequeña
					presentación sobre quien soy, una parte de mi historia, un timeline de con logros conseguidos estos años
					y un Currículum descargable en formato PDF por si te gustaría recomendarme para algún trabajo.
	
	
	
				</p>
				<p>
					Me llamo Álvaro Archilla, soy de un pequeño pueblo rural de Extremadura y desde pequeño tanto viajar
					como la naturaleza han formado parte de mi vida.</p>

				<p> Con 18 años me mudé a Leganés (Madrid), donde comencé el grado de Ingeniería Electrónica Industrial
					y
					Automática en la universidad Carlos III. Durante mi etapa universitaria busqué un desarrollo
					personal
					más allá de lo académico y que me llevó a desarrollar varios deportes, realizar cursos de idiomas y
					conseguir abrirme al mundo entrando en una asociación juvenil europea (BEST).</p>

				<p>En 2018 realicé unas prácticas curriculares de 6 meses en Bosch, donde además de aprender sobre
					ingeniería electrica, ahorré y me atreví a realizar un intercambio durante un año en la UNICAMP, en
					la
					ciudad de Campinas (Brasil). Durante esta aventura aprendí, además de portugués, sobre asignaturas
					relacionadas con la visión artificial, la ciencia de datos y el aprendizaje de máquina.
				</p>
				<p> A la vuelta del intercambio estuve realizando el TFG y, en paralelo, fui el secretario de la XV
					Junta
					Directiva del grupo BEST Madrid Carlos III. En este año, además de organizar eventos en la
					universidad
					para estudiantes y colaboraciones con empresas, estuve realizando prácticas relacionadas con la
					ciencia
					de datos en SAS.</p>

				<p> En julio de 2020 defendí el trabajo de fin de grado y me convertí oficialmente en ingeniero técnico
					industrial. En diciembre de ese año compré un dominio para desarrollar una web personal, y desde
					entonces he ido probando varias tecnologías para desarrollarla hasta que finalmente me decidí por el
					framework de Django.
				</p>
				<p>Actualmente busco desarrollar esta web hasta convertirla en aquel proyecto que
					comencé en 2012 subiendo tutoriales a Youtube y que me ha acompañado durante toda mi vida, sin ser
					dejado de lado, como uno de los objetivos personales que quería cumplir y que a día de hoy se ha
					convertido en la web que estás visitando.

				</p>

			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-sm-8 col-lg-6">
					<!-- Section Heading-->
					<div class="section_heading text-center">
						<h3>Un pequeño timeline de logros</h3>
						<div class="line"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<!-- Timeline Area-->
					<div class="apland-timeline-area">
						<!-- Single Timeline Content-->
						<div
							class="single-timeline-area https://drive.google.com/file/d/1J4tqq2QmwH_9bqtMJ2uJ88gMmRyoA96S/view?usp=sharing">
							<div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
								<p>2021</p>
							</div>
							<div class="row">

								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
										style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Programmer Analyst - QE&A Department
												Cognizant
											</h6>
											<p>Trabajo de Analista Programador en el departamento de QE&A de Cognizant.
											</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s"
										style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Curso online sobre Analítica web para medir resultados de marketing</h6>
											<p>Curso del SEPE de 30 horas sobre desarrollo de estrategias de marketing
												online y medición de KPIs en el tráfico de una web para la toma de
												decisiones. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-timeline-area">
							<div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
								<p>2020</p>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-4">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
										style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-graduation-cap"
												aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Defensa del Trabajo de fin de curso y adquisición del título</h6>
											<p>Defensa del trabajo de fin de curso .</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
										style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-users" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Logistics responsible of Madrid Engineering Week
												2020</h6>
											<p>Desarrollo de funciones logísticas para la realización de charlas y
												competiciones de la MEW20 desarrollada en la Universidad Carlos III.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-4">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
										style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-briefcase" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Intern - SAS: Customer Advisory Analytics
												Team</h6>
											<p>Prácticas a tiempo completo en el departamento de preventas en SAS.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
										style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6> Nanotraining in Big
												Data and Machine Learning</h6>
											<p>Curso introductorio de 4 meses sobre conceptos de ciencia de datos, big
												data y machine learning impartido por Escuela de Empresa.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s"
										style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-address-book" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Adquisición de certificados en ciencia de datos</h6>
											<p>Optimization Concepts for Data Science and Artificial
												Intelligence (05/2020)
												Forecasting Using Model Studio in SAS Viya (04/2020)
												SAS Visual Text Analytics in SAS Viya (04/2020)
												SAS Enterprise Guide 1: Querying and Reporting
												(02/2020)
												SAS Visual Analytics 1 for SAS Viya: Basics (02/2020)
												SAS Programming 1: Essentials and SAS Programming 2:
												Data Manipulation Techniques (01/2020).</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-timeline-area">
							<div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
								<p>2019</p>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
										style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-users" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Secretary of XV Board of BEST Madrid Carlos III</h6>
											<p>Comienzo del cargo anual de secretario en la junta directiva de la
												Asociación
												juvenil estudiantil BEST Madrid Carlos III.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s"
										style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Certificado de Proficiência em Língua Portuguesa para
												Estrangeiros (Celpe-Bras)</h6>
											<p>Adquisición del título de lengua portuguesa CELPE-BRAS con un nivel
												Intermedio Alto.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-timeline-area">
							<div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
								<p>2018</p>
							</div>
							<div class="row">

								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
										style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-plane" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Curso de verano en organización industrial con Best</h6>
											<p>Desarollo de un curso de verano en la FCT NOVA en la cuidad de Almada
												(Portugal) con 22 alumnos de diversas universidaddes de Europa sobre
												Logística Industrial.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.7s"
										style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-plane" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Programa de intercambio a Brasil </h6>
											<p>Programa realizado durante un año en la UNICAMP en Campinas con
												asignaturas
												relacionadas con la electrónica, programación y la ciencia de datos en
												portugues.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-timeline-area">
							<div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
								<p>2017</p>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-10">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
										style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-address-card" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Prácticas en el departamento de ingeniería eléctrica de Robert Bosch
												Atmo2
											</h6>
											<p>Durante estas prácticas aprendí el uso del sofware de edición de planos
												eléctricos, programación en C# con el framework .Net core 2.0 y
												administración de pedidos eléctricos en SAP.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="single-timeline-area">
							<div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
								<p>2016</p>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-10">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
										style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-users" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Miembro de la asociación juvenil estudiantil BEST Madrid Carlos III</h6>
											<p>Comienzo de un largo recorrido como miembro en la asociación juvenil
												estudiantil BEST en la universidad Madrid Carlos III. Durante los años
												como miembro desempeñé varios cargos de responsabilidad en los servicios
												para estudiantes y empresas que desarrolla la asociación.</p>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="single-timeline-area">
							<div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
								<p>2014</p>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
										style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-university" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Comienzo del grado en Ingeniería electrónica industrial y automática
											</h6>
											<p>Comienzo del grado en Ingeniería electrónica industrial y automática en
												la
												universidad Carlos III de Madrid en el campus de Leganés.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6 col-lg-6">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.5s"
										style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-microchip" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Primeros pasos en el mundo de la electrónica</h6>
											<p>En este año adquirí mi primer arduino y comenzaba a hacer pruebas con
												resistencias y leds.</p>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="single-timeline-area">
							<div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
								style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
								<p>2012</p>
							</div>
							<div class="row">
								<div class="col-12 col-md-6 col-lg-10">
									<div class="single-timeline-content d-flex wow fadeInLeft" data-wow-delay="0.3s"
										style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
										<div class="timeline-icon"><i class="fa fa-youtube-play" aria-hidden="true"></i>
										</div>
										<div class="timeline-text">
											<h6>Creación del canal de KurioTutoriales</h6>
											<p>A finales del año 2012 decidir subir mis primeros tutoriales a youtube.
												Aquí
												fue cuando empecé mi camino de aprender sobre tecnología y enseñarles a
												otros lo que sé. En este momento fue donde creé el proyecto que hoy en
												día
												quiero llevar a otro nivel.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="timeline_area section_padding_130 ">
			<div class="timeline-icon single-timeline-area single-timeline-content container col-12 timeline-legend ">
				<p> <i class="fa fa-youtube-play" aria-hidden="true"></i> - Canal de Youtube </p>
				<p> <i class="fa fa-university" aria-hidden="true"></i> - Inicio grado universitario </p>
				<p> <i class="fa fa-microchip" aria-hidden="true"></i> - Electrónica </p>
				<p> <i class="fa fa-plane" aria-hidden="true"></i> - Internacionalización </p>
				<p> <i class="fa fa-users" aria-hidden="true"></i> - Asociacionismo </p>
				<p> <i class="fa fa fa-briefcase" aria-hidden="true"></i> - Trabajo </p>
				<p> <i class="fa fa-graduation-cap" aria-hidden="true"></i> - Graduación </p>
				<p> <i class="fa fa-address-card" aria-hidden="true"></i> - Certificación </p>
			</div>
		</section>
	</section>







	<section id="main" class="wrapper content">
		<div class="inner">
	
			<div class="section_heading text-center">
				<h3>Currículum vitae</h3>
				<div class="line"></div>
			</div>
			<div>
				<embed src="{% static 'files/CV_Alvaro_Archilla_26_06_21_EN.pdf' %}" type="application/pdf" width="100%"
					height="600px" />
			</div>
		</div>
	</section>
</section>
{% endblock %}