{% extends 'djangoWebApp/base.html' %}
{% load static %}

{% block content %}



<section id="main" class="wrapper container">
	<div class="inner main">
		<div class=" content">
			<header>
				<h2>Formulario de contacto</h2>
			</header>

			<form method="post" action="#">
				<div class="row gtr-uniform">
					<div class="col-6 col-12-xsmall">
						<input type="text" name="name" id="name" value="" placeholder="Nombre">
					</div>
					<div class="col-6 col-12-xsmall">
						<input type="email" name="email" id="email" value="" placeholder="Email">
					</div>
					<!-- Break -->
					<div class="col-12">
						<select name="category" id="category">
							<option value="">- Tipo de contacto -</option>
							<option value="alpha">Oportunidades laborales</option>
							<option value="beta">Feedback y comentarios</option>
							<option value="gamma">Académico o divulgativo</option>
							<option value="gamma">Otro</option>

						</select>
					</div>

					<!-- Break -->
					<div class="col-12">
						<textarea name="textarea" id="textarea" placeholder="Área de comentarios"
							rows="6"></textarea>
					</div>
					<!-- Break -->
					<div class="col-12">
						<ul class="actions">
							<li><input type="submit" value="Submit Form" class="primary"></li>
							<li><input type="reset" value="Reset"></li>
						</ul>
					</div>
				</div>
			</form>

		</div>
	</div>
</section>

{% endblock %}