{% extends 'djangoWebApp/base.html' %}

{% load static %}

{% block content %}

		<style>

			body:before {

				background-image: url('{% static "images/bg.jpg"%}');
			}
		</style>
<div id="heading">
    <h1>{{post.title}}</h1>
</div>


<section class="main ">
    <div class="inner">
        <div class="content">
            <div class="wrapper post-body" >
                <!--     <h2>{{post.title}}</h2>  -->
                {% if post.cloudinaryimg %}
               <!-- <img src="{{ post.cloudinaryimg.url }}" alt="{{post.title}}" style="width:800px;height:600px;">-->
                {% endif %}


                <div>{{post.body | safe}} </div>





            </div>

            
            <h2>RELACIONADOS</h2>
            <ul class="posts owl-carousel">


                {% for relacionado in relacionados %}
                <li>


                    <a href="{% url 'post' relacionado.id %}" class="post shadow-on-hover">
                        <header>
                            <span class="label">
                                {% if relacionado.cloudinaryimg %}
                                <img src="{{ relacionado.cloudinaryimg.url }}" alt="{{relacionado.name}}"
                                    class="post_image">
                                {% endif %}
                            </span>
                            <h3>{{relacionado.title}}</h3>
                        </header>
                        <p>
                            {% for subcategoria in relacionado.subcategorias.all%}
                            <span class="badge badge-success">{{subcategoria.name}}</span>
                            {% endfor %} </p>
                        <p> {{relacionado.description}}</p>
                        <small> Creado el {{relacionado.created}}
                        </small>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
<script type="text/javascript"> $(document).ready(function(){
    $(".owl-carousel").owlCarousel({
        loop:true,
        margin:10,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            600:{
                items:3,
                nav:false
            },
            1000:{
                items:3,
                nav:true,
                loop:false
            }
        }
    });
  }); </script>
{% endblock %}