{% extends 'djangoWebApp/base.html' %}

{% load static %}

{% block content %}

		<style>

			body:before {

				background-image: url('{% static "images/bg.jpg"%}');
			}
		</style>
<div id="heading">
    <h1>{{post.title}}</h1>
</div>


<section class="main ">
    <div class="inner">
        <div class="content">
            <div class="wrapper post-body" >
                <!--     <h2>{{post.title}}</h2>  -->
                {% if post.cloudinaryimg %}
               <!-- <img src="{{ post.cloudinaryimg.url }}" alt="{{post.title}}" style="width:800px;height:600px;">-->
                {% endif %}


                <div>{{post.body | safe}} </div>



{{subcategoria}}

                <h2>RELACIONADOS</h2>
                <ul class="posts">


                    {% for relacionado in relacionados %}
                    <li>


                        <a href="{% url 'post' relacionado.id %}" class="post shadow-on-hover">
                            <header>
                                <span class="label">
                                    {% if relacionado.cloudinaryimg %}
                                    <img src="{{ relacionado.cloudinaryimg.url }}" alt="{{relacionado.name}}"
                                        class="post_image">
                                    {% endif %}
                                </span>
                                <h3>{{relacionado.title}}</h3>
                            </header>
                            <p>
                                {% for subcategoria in relacionado.subcategorias.all%}
                                <span class="badge badge-success">{{subcategoria.name}}</span>
                                {% endfor %} </p>
                            <p> {{relacionado.description}}</p>
                            <small> Creado el {{relacionado.created}}
                            </small>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
</section>

{% endblock %}